body{

}
/*******************
NAV BAR
*******************/
nav{
  height: 80px;
  background: #cccccc;
  padding: 0 100px;
  img{
    padding-top: 5px;
    display: inline-block;
    float: left;
    margin-right: 700px;
    cursor: pointer;
  }
  a{
    color: white;
    h3{
      line-height: 80px;
      margin: 0 30px 0 0;
      display: inline-block;
    }
    &:hover{
      text-decoration: none;
      color: #00b486;
    }
  }
}
