// color scheme
$primary: #B7D5D4; //pale aqua
$secondary: #0B2545; //oxford blue
$third: #E4DFDA; //gainsboro
$fourth: #3A6582; //ming
//MEDIA QUERIES
$large: 1200px;
$medium: 992px;
$small: 767px;
$xsmall: 470px;
$xxsmall: 370px;
//General
body, html{
  overflow-x: hidden;
}
a{
  color: black;
  &:hover{
    text-decoration: none;
  }
}
/*******************
NAV BAR
*******************/
nav{
  height: 80px;
  background: $third;
  padding: 0 90px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  .logo{
    padding-top: 5px;
    cursor: pointer;
  }
  .menu{
    float: right;
    a{
      color: white;
      h3{
        font-family: 'Nunito', sans-serif;
        line-height: 80px;
        margin: 0 30px 0 0;
        display: inline-block;
        cursor: pointer;
      }
      &:hover{
        text-decoration: none;
        color: $primary;
      }
      //logos
      .third-party-logo{
        height: 25px;
        display: inline-block;
        margin-left: 25px;
        position: relative;
        top: -5px;
      }
      &.active{
        color: $primary;
      }
    }
  }

  // mobile menu
  .menubtn{
    display: none;
    float: right;
    padding-top: 13px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $secondary;
    overflow-x: hidden;
    transition: 0.5s;
    .closebtn{
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        margin-top: 30px;

    }
    & a {
        padding: 8px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        h3{
          font-size: 65px;
        }
        &:hover, &:focus{
          color: #9a9b9b;
        }
    }
  }
  @media screen and (max-width: $large){
    .menu{
      a{
        h3{
          font-size: 20px;
          margin: 0 17px 0 0;
        }
      }
    }
  }
  @media screen and (max-width: $medium){
    a{
      .third-party-logo{
        margin-left: 10px;
      }
    }
  }
  @media screen and (max-width: $small){
    padding: 0 40px;
    .menu{
      display: none;
    }
    .menubtn{
      display: inline-block;
    }
  }
  @media screen and (max-width: $xsmall){

  }
}
/*******************
HOMEPAGE
*******************/
#jumbotronSlide{
  min-height: 460px;
  max-height: 500px;
  height: 60vh;
  background: linear-gradient(to left, rgba(0,0,0,0.4) 100%,rgba(0,0,0,0.4) 100%), url("../images/jumbo.jpg") no-repeat;
  background-size: cover;
  color: white;
  #mainTitle{
    margin-top: 55px;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: $primary;
  }
  p{
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: justify;
  }
  a{
    text-decoration: none;
    color: $primary;
    font-size: 25px;
    border: 2px solid $primary;
    background-color: rgba(255,255,255,0.0);
    padding: 5px 10px;
  }
  @media screen and (max-width: $medium){
    text-align: center;
  }
  @media screen and (max-width: $xsmall){
    #mainTitle{
      font-size: 35px;
    }
    p{
      font-size: 18px;
    }
    a{
      font-size: 20px;
    }
  }
}
#resumeSlide{
  height: 80px;
  font-family: 'Nunito', sans-serif;
  background-color: $fourth;
  padding-top: 25px;
  -webkit-box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.75);
  #phrase{
    margin: 0;
    color: white;
    a{
      color: $primary;
      &:hover{
        text-decoration: none;
        color: $secondary;
      }
    }
  }
  @media screen and (max-width: $small){
    #phrase{
      font-size: 15px;
      margin-top: 5px;
    }
  }
}
#recentWorkSlide{
  height: 500px;
  position: relative;
  #backgroundTitle{
    color: $secondary;
    font-size: 80px;
    position: absolute;;
    right: 30px;
    top: 10px;
    font-family: 'Monoton', cursive;
    text-shadow: 28px -11px 2px rgba(150, 150, 150, 0.24);
  }
  #cardContainer{
    padding-top: 130px;
    text-align: center;
    .recentCard{
      font-family: 'Nunito', sans-serif;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
      display: inline-block;
      vertical-align: top;
      width: 370px;
      margin: 0 10px;
      .imgHelper{
        height: 216px;
      }
      #optImg{
        background-image: url("../images/placeholder.png");
        background-size: cover;
        background-position: center center;
      }
      #mccImg{
        background: url("../images/mcc.jpg");
        background-size: cover;
        background-position: center center;
      }
      #cidImg{
        background: url("../images/cid.jpg");
        background-size: cover;
        background-position: center center;
      }
      .title{
        margin: 0;
        line-height: 56px;
        border-bottom: 1px solid grey;
      }
      .info-sub-slide{
        height: 385px;
        .des-title, .det-title{
          text-align: left;
          padding: 0 15px;
          margin: 10px 0 5px 0;
        }
        p{
          text-align: left;
          padding: 0 15px;
          font-size: 15px;
        }
        ul{
          text-align: left;
          padding-bottom: 10px;
        }
      }
      a{
        display: block;
        color: #565757;
        background-color: $third;
        font-size: 20px;
        padding: 10px 0;
        border-top: 1px solid #3e3e3e;
        &:hover{
          text-decoration: none;
          color: white;
        }

      }
    }
  }

  @media screen and (max-width: $large){
    #cardContainer{
      .recentCard{
        width: 300px;
        .imgHelper{
          height: 170px;
        }
        .info-sub-slide{
          height: 350px;
          overflow-y: scroll;
        }
      }
    }
  }
  @media screen and (max-width: $medium){
    #backgroundTitle{
      width: 520px;
      font-size: 60px;
      margin: auto;
      right: 0;
      left: 0;
      top: 30px;
    }
    #cardContainer{
      .recentCard{
        width: 200px;
        .imgHelper{
          height: 130px;
        }
        .title{
          font-size: 18px;
        }
        .info-sub-slide{
          height: 250px;
          .des-title{
            font-size: 14px;
          }
          p, ul{
            font-size: 12px;
          }
        }
        a{
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: $small){
    height: auto;
    #backgroundTitle{
      font-size: 40px;
      width: 336px;
    }
    #cardContainer{
      padding-top: 100px;
      .recentCard{
        max-width: 520px;
        width: 100vw;
        margin: 0 0 100px;
        .imgHelper{
          height: 300px;


        }
        .info-sub-slide{
          height: auto;
        }
      }
    }
  }
  @media screen and (max-width: $xsmall){
    #cardContainer{
      .recentCard{
        .imgHelper{
          height: 270px;

        }
      }
    }
  }

}
/*******************
PORTFOLIO PAGE
*******************/
#portfolioContainer{
  margin: 40px 10% 60px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  .thumb{
    height: 255px;
    margin-top: 20px;
    padding: 8px 8px 0;
    width: 310px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
    transition: .5s;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    .image_helper{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 180px;
    }
    #cid_image{ background-image: url("../images/cid_thumb.png"); }
    #otm_image{ background-image: url("../images/placeholder.png"); }
    #mcc_image{ background-image: url("../images/mcc_thumb.png"); }
    #ecc_image{ background-image: url("../images/ecc_thumb.png"); }
    #ahc_image{ background-image: url("../images/ahc_thumb.png"); }
    #ntt_image{ background-image: url("../images/ntt_thumb.png"); }
    #nta_image{ background-image: url("../images/nta_thumb.png"); }
  }
  @media screen and (max-width: $large){
    margin: 40px 6% 60px;
    .thumb{
      width: 31%;
      height: 265px;
    }
  }
  @media screen and (max-width: $medium){
    .thumb{
      width: 45%;
      height: 30vw;
      .image_helper{
        height: 21vw;
      }
    }
  }
  @media screen and (max-width: $small){
    margin: 20px 3% 30px;
    text-align: center;
    h5{
      display: none;
    }
    h4{
      font-size: 15px;
      margin-top: 2vw;
    }
  }
  @media screen and (max-width: $xsmall){
    h4{ font-size: 13px; }
  }
  @media screen and (max-width: $xxsmall){
    h4{ font-size: 11px; }
  }
}
/*******************
PROJECT PAGE
*******************/
.container-grey{
  background-color: #e8e3e1;
}
.content-container{
  padding-top: 100px;
  background-color: #e8e3e1;
}
.container-img{
  padding: 0px 13% 0px;
  .snapshot-lg{
    width: 100%;
    border: #DDD solid 1px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
}
.container-wording-middle{
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding: 0 13%;
  text-align: justify;
  .content-title{
    font-size: 25px;
    margin-top: 60px;
  }
  .content-p{
    font-size: 20px;
    line-height: 40px;
    margin:0;
    padding: 30px 0 50px;
  }
  .content-title, .content-p{
    padding-left: 7%;
    padding-right: 7%;
  }
  @media screen and (max-width: $medium){
    .content-title{
      font-size: 21px;
      padding-top: 0;
    }
    .content-p{
      font-size: 17px;
    }
  }
  @media screen and (max-width: $small){
    height: auto;
  }
  @media screen and (max-width: $xsmall){
    .content-title, .content-p{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.container-theme-intro{
  padding: 50px 13% 0px;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  .introSlide{
    height: 450px;
    h1{
      font-size: 50px;
      border-bottom: 2px solid #ddd;
      padding-bottom: 20px;
    }
    .sub-title{
      height: 35px;
      .float-left{
        float: left;
      }
      .float-right{
        float: right;
      }
    }
    p{
      padding-top: 40px;
      font-size: 20px;
      line-height: 36px;
    }
    .mobile-mockup{
      height: 400px;
      margin: 0 auto;
    }

  }
  @media screen and (max-width: $large){
    padding: 50px 9% 0;
  }
  @media screen and (max-width: $medium){
    padding: 50px 5% 0;
    .introSlide{
      h1{
        font-size: 35px;
      }
      .sub-title h4{
        font-size: 13px;
      }
      p{
        padding-top: 20px;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  @media screen and (max-width: $small){
    .introSlide{
      height: auto;
      padding-bottom: 50px;
      p{
        margin-bottom: 20px;
      }
    }
  }
}
/*******************
CONTACT FORM PAGE
*******************/
.contactFormContainer{
  position: relative;
  min-height: 540px;
  height: 80vh;
  font-family: 'Nunito', sans-serif;
  .contactForm{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    #imgContainer, #formContainer{
      height: 500px;
    }
    #imgContainer{
      padding: 0;
      #infoCard{
        background-color: $primary;
        background-image: url("../images/contact.png");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        position: relative;
        left: -80px;
        margin-top: 50px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
      }
    }
    #formContainer{
      color: white;
      form{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        label{
          font-size: 19px;
        }
        input{
          width: 80%;
          font-size: 19px;
          margin-bottom: 5px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid white;
          background-color: $secondary;
          &:focus{
            outline: none;
          }
          &:last-child{
            width: 100px;
            border: none;
            background-color: #70bcee;
            margin-top: 30px;
          }
        }
        textarea{
          background-color: $secondary;
          width: 80%;
          height: 80px;
          resize: none;
          border: 1px solid white;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: $large){

  }
  @media screen and (max-width: $medium){
    .contactForm{
      width: 500px;
      #imgContainer, #formContainer{
        height: 375px;
      }
      #imgContainer > #infoCard{
        height: 300px;
        width: 250px;
        margin-top: 38px;
      }
      #formContainer > form{
        label, input{
          font-size: 12px;
        }
      }
    }

  }
  @media screen and (max-width: $small){
    text-align: center;
    height: 800px;
    .contactForm{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-color: white;
      #imgContainer > #infoCard{
        position: static;
        margin: 0 auto;
        width: 400px;
        height: 350px;
      }
      #formContainer{
        background-color: $secondary;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        width: 400px;
        margin: 0 auto;
      }
    }

  }
  @media screen and (max-width: $xsmall){
    height: auto;
    .contactForm{
      position: static;
      transform: none;
      #imgContainer, #formContainer, #imgContainer > #infoCard{
        width: 100vw;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
        box-shadow: none;
      }
      #imgContainer{ height: 350px; }
      #formContainer{ margin: 0; }
    }
  }
}
/*******************
COMING SOON PAGE
*******************/
.comingsoonContainer{
  h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    margin: 0 auto;
    width: 500px;
    color: red;
    line-height: 79vh;
  }
  @media screen and (max-width: $small){
    h1{
      font-size: 40px;
      width: 335px;
    }
  }
}
/*******************
HOVER.SCSS UPDATES
*******************/
.hvr-sweep-to-right:before{
  background: #7ce131;
}
/*******************
FOOTER
*******************/
footer{
  font-family: 'Nunito', sans-serif;
  background-color: #6d6c6c;
  color: white;
  height: 100px;
  padding: 0 50px;
  h4{
    margin: 0;
    line-height: 100px;
  }
  img{
    padding-top: 14px;
  }
  @media screen and (max-width: $large){
    h4{
      font-size: 15px;
    }
  }
  @media screen and (max-width: $medium){
    padding: 0 25px;
    h4{
      font-size: 12px;
    }
  }
  @media screen and (max-width: $small){
    height: auto;
    h4{
      line-height: 30px;
    }
  }
}
