/*******************
NAV BAR
*******************/
nav {
  height: 80px;
  background: #cccccc;
  padding: 0 0 0 100px; }
  nav .logo {
    padding-top: 5px;
    display: inline-block;
    float: left;
    margin-right: 700px;
    cursor: pointer; }
  nav a {
    color: white; }
    nav a h3 {
      font-family: 'Nunito', sans-serif;
      line-height: 80px;
      margin: 0 30px 0 0;
      display: inline-block;
      cursor: pointer; }
    nav a:hover {
      text-decoration: none;
      color: #00b486; }
    nav a .third-party-logo {
      height: 25px;
      display: inline-block;
      margin-left: 25px;
      position: relative;
      top: -5px; }

/*******************
HOMEPAGE
*******************/
#jumbotronSlide {
  height: 600px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("../images/jumbo.jpg");
  color: white;
  padding-top: 100px; }
  #jumbotronSlide #mainTitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #00b486; }
  #jumbotronSlide p {
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: justify; }
  #jumbotronSlide a {
    text-decoration: none;
    color: #00b486;
    font-size: 25px;
    border: 2px solid #00b486;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 5px 10px; }

/*******************
FOOTER
*******************/
footer {
  font-family: 'Nunito', sans-serif;
  background-color: #b34145;
  color: white;
  height: 100px;
  padding: 0 50px; }
  footer h4 {
    margin: 0;
    line-height: 100px; }
