/*******************
NAV BAR
*******************/
nav {
  height: 80px;
  background: #e4dfda;
  padding: 0 0 0 100px; }
  nav .logo {
    padding-top: 5px;
    display: inline-block;
    float: left;
    margin-right: 700px;
    cursor: pointer; }
  nav a {
    color: white; }
    nav a h3 {
      font-family: 'Nunito', sans-serif;
      line-height: 80px;
      margin: 0 30px 0 0;
      display: inline-block;
      cursor: pointer; }
    nav a:hover {
      text-decoration: none;
      color: #b7d5d4; }
    nav a .third-party-logo {
      height: 25px;
      display: inline-block;
      margin-left: 25px;
      position: relative;
      top: -5px; }

/*******************
HOMEPAGE
*******************/
#jumbotronSlide {
  height: 60vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url("../images/jumbo.jpg") no-repeat;
  background-size: cover;
  color: white;
  padding-top: 55px; }
  #jumbotronSlide #mainTitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #b7d5d4; }
  #jumbotronSlide p {
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: justify; }
  #jumbotronSlide a {
    text-decoration: none;
    color: #b7d5d4;
    font-size: 25px;
    border: 2px solid #b7d5d4;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 5px 10px; }

#resumeSlide {
  height: 80px;
  font-family: 'Nunito', sans-serif;
  background-color: #3a6582;
  padding-top: 25px;
  -webkit-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.75); }
  #resumeSlide #phrase {
    margin: 0;
    color: white; }
    #resumeSlide #phrase a {
      color: #b7d5d4; }
      #resumeSlide #phrase a:hover {
        text-decoration: none;
        color: #0b2545; }

#recentWorkSlide {
  height: 500px; }

/*******************
FOOTER
*******************/
footer {
  font-family: 'Nunito', sans-serif;
  background-color: #0b2545;
  color: white;
  height: 100px;
  padding: 0 50px; }
  footer h4 {
    margin: 0;
    line-height: 100px; }
