body, html {
  overflow-x: hidden; }

a {
  color: black; }
  a:hover {
    text-decoration: none; }

/*******************
NAV BAR
*******************/
nav {
  height: 80px;
  background: #e4dfda;
  padding: 0 90px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  nav .logo {
    padding-top: 5px;
    cursor: pointer; }
  nav .menu {
    float: right; }
    nav .menu a {
      color: white; }
      nav .menu a h3 {
        font-family: 'Nunito', sans-serif;
        line-height: 80px;
        margin: 0 30px 0 0;
        display: inline-block;
        cursor: pointer; }
      nav .menu a:hover {
        text-decoration: none;
        color: #b7d5d4; }
      nav .menu a .third-party-logo {
        height: 25px;
        display: inline-block;
        margin-left: 25px;
        position: relative;
        top: -5px; }
      nav .menu a.active {
        color: #b7d5d4; }
  nav .menubtn {
    display: none;
    float: right;
    padding-top: 13px; }
  nav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b2545;
    overflow-x: hidden;
    transition: 0.5s; }
    nav .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px; }
    nav .overlay .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      margin-top: 30px; }
    nav .overlay a {
      padding: 8px;
      text-decoration: none;
      color: white;
      display: block;
      transition: 0.3s; }
      nav .overlay a h3 {
        font-size: 65px; }
      nav .overlay a:hover, nav .overlay a:focus {
        color: #9a9b9b; }
  @media screen and (max-width: 1200px) {
    nav .menu a h3 {
      font-size: 20px;
      margin: 0 17px 0 0; } }
  @media screen and (max-width: 992px) {
    nav a .third-party-logo {
      margin-left: 10px; } }
  @media screen and (max-width: 767px) {
    nav {
      padding: 0 40px; }
      nav .menu {
        display: none; }
      nav .menubtn {
        display: inline-block; } }

/*******************
HOMEPAGE
*******************/
#jumbotronSlide {
  min-height: 460px;
  max-height: 500px;
  height: 60vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url("../images/jumbo.jpg") no-repeat;
  background-size: cover;
  color: white; }
  #jumbotronSlide #mainTitle {
    margin-top: 55px;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: #b7d5d4; }
  #jumbotronSlide p {
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: justify; }
  #jumbotronSlide a {
    text-decoration: none;
    color: #b7d5d4;
    font-size: 25px;
    border: 2px solid #b7d5d4;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px; }
  @media screen and (max-width: 992px) {
    #jumbotronSlide {
      text-align: center; } }
  @media screen and (max-width: 470px) {
    #jumbotronSlide #mainTitle {
      font-size: 35px; }
    #jumbotronSlide p {
      font-size: 18px; }
    #jumbotronSlide a {
      font-size: 20px; } }

#resumeSlide {
  height: 80px;
  font-family: 'Nunito', sans-serif;
  background-color: #3a6582;
  padding-top: 25px;
  -webkit-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.75); }
  #resumeSlide #phrase {
    margin: 0;
    color: white; }
    #resumeSlide #phrase a {
      color: #b7d5d4; }
      #resumeSlide #phrase a:hover {
        text-decoration: none;
        color: #0b2545; }
  @media screen and (max-width: 767px) {
    #resumeSlide #phrase {
      font-size: 15px;
      margin-top: 5px; } }

#recentWorkSlide {
  height: 500px;
  position: relative; }
  #recentWorkSlide #backgroundTitle {
    color: #0b2545;
    font-size: 80px;
    position: absolute;
    right: 30px;
    top: 10px;
    font-family: 'Monoton', cursive;
    text-shadow: 28px -11px 2px rgba(150, 150, 150, 0.24); }
  #recentWorkSlide #cardContainer {
    padding-top: 130px;
    text-align: center; }
    #recentWorkSlide #cardContainer .recentCard {
      font-family: 'Nunito', sans-serif;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
      display: inline-block;
      vertical-align: top;
      width: 370px;
      margin: 0 10px; }
      #recentWorkSlide #cardContainer .recentCard .imgHelper {
        height: 216px; }
      #recentWorkSlide #cardContainer .recentCard #optImg {
        background-image: url("../images/placeholder.png");
        background-size: cover;
        background-position: center center; }
      #recentWorkSlide #cardContainer .recentCard #mccImg {
        background: url("../images/mcc.jpg");
        background-size: cover;
        background-position: center center; }
      #recentWorkSlide #cardContainer .recentCard #cidImg {
        background: url("../images/cid.jpg");
        background-size: cover;
        background-position: center center; }
      #recentWorkSlide #cardContainer .recentCard .title {
        margin: 0;
        line-height: 56px;
        border-bottom: 1px solid grey; }
      #recentWorkSlide #cardContainer .recentCard .info-sub-slide {
        height: 385px; }
        #recentWorkSlide #cardContainer .recentCard .info-sub-slide .des-title, #recentWorkSlide #cardContainer .recentCard .info-sub-slide .det-title {
          text-align: left;
          padding: 0 15px;
          margin: 10px 0 5px 0; }
        #recentWorkSlide #cardContainer .recentCard .info-sub-slide p {
          text-align: left;
          padding: 0 15px;
          font-size: 15px; }
        #recentWorkSlide #cardContainer .recentCard .info-sub-slide ul {
          text-align: left;
          padding-bottom: 10px; }
      #recentWorkSlide #cardContainer .recentCard a {
        display: block;
        color: #565757;
        background-color: #e4dfda;
        font-size: 20px;
        padding: 10px 0;
        border-top: 1px solid #3e3e3e; }
        #recentWorkSlide #cardContainer .recentCard a:hover {
          text-decoration: none;
          color: white; }
  @media screen and (max-width: 1200px) {
    #recentWorkSlide #cardContainer .recentCard {
      width: 300px; }
      #recentWorkSlide #cardContainer .recentCard .imgHelper {
        height: 170px; }
      #recentWorkSlide #cardContainer .recentCard .info-sub-slide {
        height: 350px;
        overflow-y: scroll; } }
  @media screen and (max-width: 992px) {
    #recentWorkSlide #backgroundTitle {
      width: 520px;
      font-size: 60px;
      margin: auto;
      right: 0;
      left: 0;
      top: 30px; }
    #recentWorkSlide #cardContainer .recentCard {
      width: 200px; }
      #recentWorkSlide #cardContainer .recentCard .imgHelper {
        height: 130px; }
      #recentWorkSlide #cardContainer .recentCard .title {
        font-size: 18px; }
      #recentWorkSlide #cardContainer .recentCard .info-sub-slide {
        height: 250px; }
        #recentWorkSlide #cardContainer .recentCard .info-sub-slide .des-title {
          font-size: 14px; }
        #recentWorkSlide #cardContainer .recentCard .info-sub-slide p, #recentWorkSlide #cardContainer .recentCard .info-sub-slide ul {
          font-size: 12px; }
      #recentWorkSlide #cardContainer .recentCard a {
        font-size: 15px; } }
  @media screen and (max-width: 767px) {
    #recentWorkSlide {
      height: auto; }
      #recentWorkSlide #backgroundTitle {
        font-size: 40px;
        width: 336px; }
      #recentWorkSlide #cardContainer {
        padding-top: 100px; }
        #recentWorkSlide #cardContainer .recentCard {
          max-width: 520px;
          width: 100vw;
          margin: 0 0 100px; }
          #recentWorkSlide #cardContainer .recentCard .imgHelper {
            height: 300px; }
          #recentWorkSlide #cardContainer .recentCard .info-sub-slide {
            height: auto; } }
  @media screen and (max-width: 470px) {
    #recentWorkSlide #cardContainer .recentCard .imgHelper {
      height: 270px; } }

/*******************
PORTFOLIO PAGE
*******************/
#portfolioContainer {
  margin: 40px 10% 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }
  #portfolioContainer .thumb {
    height: 255px;
    margin-top: 20px;
    padding: 8px 8px 0;
    width: 310px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    -webkit-transition: .5s;
    /* For Safari 3.1 to 6.0 */
    transition: .5s;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }
    #portfolioContainer .thumb .image_helper {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 180px; }
    #portfolioContainer .thumb #cid_image {
      background-image: url("../images/cid_thumb.png"); }
    #portfolioContainer .thumb #otm_image {
      background-image: url("../images/placeholder.png"); }
    #portfolioContainer .thumb #mcc_image {
      background-image: url("../images/mcc_thumb.png"); }
    #portfolioContainer .thumb #ecc_image {
      background-image: url("../images/ecc_thumb.png"); }
    #portfolioContainer .thumb #ahc_image {
      background-image: url("../images/ahc_thumb.png"); }
    #portfolioContainer .thumb #ntt_image {
      background-image: url("../images/ntt_thumb.png"); }
    #portfolioContainer .thumb #nta_image {
      background-image: url("../images/nta_thumb.png"); }
  @media screen and (max-width: 1200px) {
    #portfolioContainer {
      margin: 40px 6% 60px; }
      #portfolioContainer .thumb {
        width: 31%;
        height: 265px; } }
  @media screen and (max-width: 992px) {
    #portfolioContainer .thumb {
      width: 45%;
      height: 30vw; }
      #portfolioContainer .thumb .image_helper {
        height: 21vw; } }
  @media screen and (max-width: 767px) {
    #portfolioContainer {
      margin: 20px 3% 30px;
      text-align: center; }
      #portfolioContainer h5 {
        display: none; }
      #portfolioContainer h4 {
        font-size: 15px;
        margin-top: 2vw; } }
  @media screen and (max-width: 470px) {
    #portfolioContainer h4 {
      font-size: 13px; } }
  @media screen and (max-width: 370px) {
    #portfolioContainer h4 {
      font-size: 11px; } }

/*******************
PROJECT PAGE
*******************/
.container-grey {
  background-color: #e8e3e1; }

.container-theme {
  padding: 50px 13% 50px; }

.container-img {
  padding: 100px 13% 0px; }
  .container-img .snapshot-lg {
    width: 100%;
    border: #DDD solid 1px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); }

.container-wording-middle {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding: 100px 13% 120px;
  text-align: justify; }
  .container-wording-middle .content-title {
    font-size: 25px; }
  .container-wording-middle .content-p {
    font-size: 20px;
    line-height: 40px;
    padding-top: 30px;
    margin-bottom: 0; }
  .container-wording-middle .content-title, .container-wording-middle .content-p {
    padding-left: 7%;
    padding-right: 7%; }
  @media screen and (max-width: 992px) {
    .container-wording-middle .content-title {
      font-size: 21px;
      padding-top: 0; }
    .container-wording-middle .content-p {
      font-size: 17px; } }
  @media screen and (max-width: 767px) {
    .container-wording-middle {
      height: auto; } }
  @media screen and (max-width: 470px) {
    .container-wording-middle .content-title, .container-wording-middle .content-p {
      padding-left: 0;
      padding-right: 0; } }

.container-theme-intro {
  padding: 50px 13% 0px;
  font-family: 'Nunito', sans-serif;
  text-align: justify; }
  .container-theme-intro .introSlide {
    height: 450px; }
    .container-theme-intro .introSlide h1 {
      font-size: 50px;
      border-bottom: 2px solid #ddd;
      padding-bottom: 20px; }
    .container-theme-intro .introSlide .sub-title {
      height: 35px; }
      .container-theme-intro .introSlide .sub-title .float-left {
        float: left; }
      .container-theme-intro .introSlide .sub-title .float-right {
        float: right; }
    .container-theme-intro .introSlide p {
      padding-top: 40px;
      font-size: 20px;
      line-height: 36px; }
    .container-theme-intro .introSlide .mobile-mockup {
      height: 400px;
      margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container-theme-intro {
      padding: 50px 9% 0; } }
  @media screen and (max-width: 992px) {
    .container-theme-intro {
      padding: 50px 5% 0; }
      .container-theme-intro .introSlide h1 {
        font-size: 35px; }
      .container-theme-intro .introSlide .sub-title h4 {
        font-size: 13px; }
      .container-theme-intro .introSlide p {
        padding-top: 20px;
        font-size: 18px;
        line-height: 30px; } }
  @media screen and (max-width: 767px) {
    .container-theme-intro .introSlide {
      height: auto;
      padding-bottom: 50px; }
      .container-theme-intro .introSlide p {
        margin-bottom: 20px; } }

/*******************
CONTACT FORM PAGE
*******************/
.contactFormContainer {
  position: relative;
  min-height: 540px;
  height: 80vh;
  font-family: 'Nunito', sans-serif; }
  .contactFormContainer .contactForm {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0b2545;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4); }
    .contactFormContainer .contactForm #imgContainer, .contactFormContainer .contactForm #formContainer {
      height: 500px; }
    .contactFormContainer .contactForm #imgContainer {
      padding: 0; }
      .contactFormContainer .contactForm #imgContainer #infoCard {
        background-color: #b7d5d4;
        background-image: url("../images/contact.png");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        position: relative;
        left: -80px;
        margin-top: 50px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4); }
    .contactFormContainer .contactForm #formContainer {
      color: white; }
      .contactFormContainer .contactForm #formContainer form {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .contactFormContainer .contactForm #formContainer form label {
          font-size: 19px; }
        .contactFormContainer .contactForm #formContainer form input {
          width: 80%;
          font-size: 19px;
          margin-bottom: 5px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid white;
          background-color: #0b2545; }
          .contactFormContainer .contactForm #formContainer form input:focus {
            outline: none; }
          .contactFormContainer .contactForm #formContainer form input:last-child {
            width: 100px;
            border: none;
            background-color: #70bcee;
            margin-top: 30px; }
        .contactFormContainer .contactForm #formContainer form textarea {
          background-color: #0b2545;
          width: 80%;
          height: 80px;
          resize: none;
          border: 1px solid white; }
          .contactFormContainer .contactForm #formContainer form textarea:focus {
            outline: none; }
  @media screen and (max-width: 992px) {
    .contactFormContainer .contactForm {
      width: 500px; }
      .contactFormContainer .contactForm #imgContainer, .contactFormContainer .contactForm #formContainer {
        height: 375px; }
      .contactFormContainer .contactForm #imgContainer > #infoCard {
        height: 300px;
        width: 250px;
        margin-top: 38px; }
      .contactFormContainer .contactForm #formContainer > form label, .contactFormContainer .contactForm #formContainer > form input {
        font-size: 12px; } }
  @media screen and (max-width: 767px) {
    .contactFormContainer {
      text-align: center;
      height: 800px; }
      .contactFormContainer .contactForm {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: white; }
        .contactFormContainer .contactForm #imgContainer > #infoCard {
          position: static;
          margin: 0 auto;
          width: 400px;
          height: 350px; }
        .contactFormContainer .contactForm #formContainer {
          background-color: #0b2545;
          -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          width: 400px;
          margin: 0 auto; } }
  @media screen and (max-width: 470px) {
    .contactFormContainer {
      height: auto; }
      .contactFormContainer .contactForm {
        position: static;
        transform: none; }
        .contactFormContainer .contactForm #imgContainer, .contactFormContainer .contactForm #formContainer, .contactFormContainer .contactForm #imgContainer > #infoCard {
          width: 100vw;
          -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: none; }
        .contactFormContainer .contactForm #imgContainer {
          height: 350px; }
        .contactFormContainer .contactForm #formContainer {
          margin: 0; } }

/*******************
COMING SOON PAGE
*******************/
.comingsoonContainer h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  margin: 0 auto;
  width: 500px;
  color: red;
  line-height: 79vh; }
@media screen and (max-width: 767px) {
  .comingsoonContainer h1 {
    font-size: 40px;
    width: 335px; } }

/*******************
HOVER.SCSS UPDATES
*******************/
.hvr-sweep-to-right:before {
  background: #7ce131; }

/*******************
FOOTER
*******************/
footer {
  font-family: 'Nunito', sans-serif;
  background-color: #6d6c6c;
  color: white;
  height: 100px;
  padding: 0 50px; }
  footer h4 {
    margin: 0;
    line-height: 100px; }
  footer img {
    padding-top: 14px; }
  @media screen and (max-width: 1200px) {
    footer h4 {
      font-size: 15px; } }
  @media screen and (max-width: 992px) {
    footer {
      padding: 0 25px; }
      footer h4 {
        font-size: 12px; } }
  @media screen and (max-width: 767px) {
    footer {
      height: auto; }
      footer h4 {
        line-height: 30px; } }
